*{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header{
    background-color: #122A57;  
    height: 100px;
    display: flex;
    
    align-items: center;
    color: #fff;
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: #fff;
}

header .menu{
    justify-content: space-between;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

.servicos img{
    display: block;
    width: 100%;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.texto-apresentacao h1{
    color:#122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.button{
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    
}

#quem-somos h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 10px;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    margin-left: 15px;
    width: 90%;
    text-align: justify;    
}

#servicos{
    background-color: #122A57;
    flex-direction: column;
    min-width: 100%;
}

#icones{
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#servicos h2{
    color:#fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

#servicos a{
    text-decoration: none;
    color:#122A57;
    text-align: center;
    font-weight: 700;
}

#servicos .button{
    background-color: #fff;
    margin-top: 20px;
}

#planos{
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align:center;
}

.list-planos{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.item-planos{
    border: 5px solid #122A57;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#planos h2{
    font-size: 32px;
    color: #122A57;
    margin-top: 60px;
}

#planos h3{
    font-size: 24px;
    color: #122A57;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list-planos h3::after{
    content:"";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-planos ul{
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.list-planos ul li{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.list-planos ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 5px;
}

#planos .button{
    width: 80%;
    margin-bottom: 20px;
}

footer{
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #122A57;
    color: #fff;
    font-size: 12px;
    justify-content: space-between;
}

footer p{
    margin: 10px;
}
